UI-Ilmanvaihto-final.json
[{"id":"1d812df.7e210d2","type":"tab","label":"UI - Ilmanvaihto","disabled":false,"info":""},{"id":"17ff18c8.be7c5f","type":"uibuilder","z":"1d812df.7e210d2","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":1860,"y":1720,"wires":[["c430fad.bac9408"],[]]},{"id":"87ceb14b.c65a78","type":"debug","z":"1d812df.7e210d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1650,"y":880,"wires":[]},{"id":"1d1c947d.7d3174","type":"switch","z":"1d812df.7e210d2","name":"LightCommandFilter","property":"payload.OGtopic","propertyType":"msg","rules":[{"t":"cont","v":"valot","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":700,"wires":[["a5bf3140.cc234"]]},{"id":"f9c1c31c.d09428","type":"ui_slider","z":"1d812df.7e210d2","name":"","label":"Ilmanvaihdon teho","tooltip":"","group":"6cde6e5c.be15d8","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"power","min":0,"max":"100","step":1,"x":430,"y":640,"wires":[["bd8f3a47.fcfd2"]]},{"id":"22565e5f.6a76ca","type":"ui_gauge","z":"1d812df.7e210d2","name":"","group":"4964ee71.331ec","order":1,"width":0,"height":0,"gtype":"gage","title":"Huone 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2220,"y":520,"wires":[]},{"id":"dbbc55a1.004088","type":"ui_dropdown","z":"1d812df.7e210d2","name":"","label":"Huone valinta","tooltip":"","place":"","group":"6cde6e5c.be15d8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Huone 1","value":1,"type":"num"},{"label":"Huone 2","value":2,"type":"num"},{"label":"Huone 3","value":3,"type":"num"},{"label":"Huone 4","value":4,"type":"num"},{"label":"Käytävä","value":5,"type":"num"},{"label":"Kaikki","value":0,"type":"num"}],"payload":"","topic":"_id","x":420,"y":600,"wires":[["bd8f3a47.fcfd2"]]},{"id":"abe59ce.1a3e9e","type":"ui_gauge","z":"1d812df.7e210d2","name":"","group":"4964ee71.331ec","order":3,"width":0,"height":0,"gtype":"gage","title":"Huone 3","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2220,"y":640,"wires":[]},{"id":"43f846f6.334d","type":"ui_gauge","z":"1d812df.7e210d2","name":"","group":"4964ee71.331ec","order":2,"width":0,"height":0,"gtype":"gage","title":"Huone 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2220,"y":580,"wires":[]},{"id":"5142d222.183b9c","type":"function","z":"1d812df.7e210d2","name":"SetAutoValue","func":"// var defaultPower = 30; // 0 - 100.\nvar isItOn = false;\nvar setPoint;\nvar kp = msg.payload[0].kp;\n\nif(msg.payload[0].isItOn === false){\n    isItOn = true;\n    setPoint = msg.payload[0].setPointOn;\n} else {\n    isItOn = false;\n    setPoint = msg.payload[0].setPointOff;\n    \n}\n\nvar power = kp*(setPoint - msg.payload[0].airQuality);\nif (power < 0) {power = 0;}\nif (power > 100) {power = 100;}\n\nvar dict = { \"_id\" : msg.payload[0]._id ,\n             \"isItOn\" : isItOn ,\n             \"power\" : power,\n             \"airQuality\" : msg.payload[0].airQuality};\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":700,"wires":[["d704a482.00a338"]]},{"id":"9131c87b.63a838","type":"switch","z":"1d812df.7e210d2","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1680,"y":520,"wires":[["21474fd2.d755e"]]},{"id":"6c673a02.7159bc","type":"ui_gauge","z":"1d812df.7e210d2","name":"","group":"4964ee71.331ec","order":5,"width":0,"height":0,"gtype":"gage","title":"Käytävä","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2220,"y":760,"wires":[]},{"id":"1ab0d46c.dfc0f4","type":"ui_gauge","z":"1d812df.7e210d2","name":"","group":"4964ee71.331ec","order":4,"width":0,"height":0,"gtype":"gage","title":"Huone 4","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2220,"y":700,"wires":[]},{"id":"ae7971a8.3628e","type":"switch","z":"1d812df.7e210d2","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1680,"y":640,"wires":[["e453365e.f7e52"]]},{"id":"e05c2433.38a0b8","type":"switch","z":"1d812df.7e210d2","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1680,"y":580,"wires":[["2f14e7d1.7b93c"]]},{"id":"1b8aa9c0.a877b6","type":"switch","z":"1d812df.7e210d2","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1680,"y":700,"wires":[["99ea7568.864c08"]]},{"id":"5217d2c2.a1467c","type":"switch","z":"1d812df.7e210d2","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1680,"y":760,"wires":[["6e70f43.568510c"]]},{"id":"21474fd2.d755e","type":"function","z":"1d812df.7e210d2","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":520,"wires":[["22565e5f.6a76ca"]]},{"id":"2f14e7d1.7b93c","type":"function","z":"1d812df.7e210d2","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":580,"wires":[["43f846f6.334d"]]},{"id":"e453365e.f7e52","type":"function","z":"1d812df.7e210d2","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":640,"wires":[["abe59ce.1a3e9e"]]},{"id":"99ea7568.864c08","type":"function","z":"1d812df.7e210d2","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":700,"wires":[["1ab0d46c.dfc0f4"]]},{"id":"6e70f43.568510c","type":"function","z":"1d812df.7e210d2","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":760,"wires":[["6c673a02.7159bc"]]},{"id":"b8795f4f.7ee23","type":"mqtt in","z":"1d812df.7e210d2","name":"","topic":"ASE-2610/G2.3","qos":"2","datatype":"json","broker":"fbc59df7.c6b188","x":420,"y":700,"wires":[["1d1c947d.7d3174","c938e3b9.1f1a2"]]},{"id":"ca33a625.2aaff","type":"mqtt out","z":"1d812df.7e210d2","name":"","topic":"ASE-2610/G2.3","qos":"","retain":"","broker":"fbc59df7.c6b188","x":2300,"y":1720,"wires":[]},{"id":"c430fad.bac9408","type":"function","z":"1d812df.7e210d2","name":"PayloadConfig","func":"var dict = { \"OGtopic\" : msg.topic ,\n             \"OGpayload\" : msg.payload};\n                \nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"x":2100,"y":1720,"wires":[["ca33a625.2aaff"]]},{"id":"50bc0c48.a86ef4","type":"inject","z":"1d812df.7e210d2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":220,"wires":[[]]},{"id":"10b0c404.313f04","type":"file in","z":"1d812df.7e210d2","name":"","filename":"/Users/ilpoviertola/Nodered/ASE-2610/DatabaseFiles/lights.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":730,"y":220,"wires":[["9bfd0863.a9f62"]]},{"id":"9bfd0863.a9f62","type":"json","z":"1d812df.7e210d2","name":"","property":"payload","action":"","pretty":false,"x":1070,"y":220,"wires":[["8cf2850d.4e411"]]},{"id":"8cf2850d.4e411","type":"mongodb out","z":"1d812df.7e210d2","mongodb":"4b7f97a4.00ae08","name":"","collection":"lights","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1300,"y":220,"wires":[]},{"id":"1f9b7f62.42fc01","type":"comment","z":"1d812df.7e210d2","name":"To add data to MongoDB","info":"","x":450,"y":180,"wires":[]},{"id":"8d41130.100d4f","type":"comment","z":"1d812df.7e210d2","name":"Simulator","info":"","x":1860,"y":1680,"wires":[]},{"id":"178d1b8e.712214","type":"mongodb-node","z":"1d812df.7e210d2","mongodb":"4c0042a5.eb8d5c","name":"FindStatus","collection":"lights","operation":"find","upsert":false,"multi":false,"x":1030,"y":700,"wires":[["5142d222.183b9c"]]},{"id":"a5bf3140.cc234","type":"function","z":"1d812df.7e210d2","name":"FindBy_id","func":"var roomNumber = msg.payload.OGpayload;\nmsg.payload = {\"_id\" : roomNumber};\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":700,"wires":[["178d1b8e.712214"]]},{"id":"57b48811.1ea9b8","type":"mongodb out","z":"1d812df.7e210d2","mongodb":"4b7f97a4.00ae08","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":true,"operation":"update","x":2190,"y":820,"wires":[]},{"id":"51e34c41.ef427c","type":"function","z":"1d812df.7e210d2","name":"UpdateMongoDB","func":"var _id = msg.payload._id;\nvar isItOn = msg.payload.isItOn;\nvar power = msg.payload.power;\nvar airQuality = msg.payload.airQuality;\nvar newMsg = {};\n\nif(_id === 0){\n    newMsg = {\n      'query': {\n        \"roomNumber\" : { $exists: true }\n      },\n      'payload': { \n          $set: {\n              \"isItOn\" : isItOn,\n              \"power\" : power\n          }\n       } \n    }; \n}\nelse{ \n    newMsg = {\n      'query': {\n        \"roomNumber\" : _id\n      },\n      'payload': { \n          $set: {\n              \"isItOn\" : isItOn,\n              \"power\" : power,\n              \"airQuality\" : airQuality,\n          }\n       } \n    };\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":1690,"y":820,"wires":[["57b48811.1ea9b8"]]},{"id":"eef87007.8f07f8","type":"function","z":"1d812df.7e210d2","name":"SetManualValue","func":"var isItOn = false;\nvar power;\n\nif(msg.payload.power === 0){\n    isItOn = false;\n    power = 0;\n} else {\n    isItOn = true;\n    power = msg.payload.power;\n}\n\nvar dict = { \"_id\" : msg.payload._id ,\n             \"isItOn\" : isItOn ,\n             \"power\" : power };\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":640,"wires":[["d704a482.00a338"]]},{"id":"bd8f3a47.fcfd2","type":"join","z":"1d812df.7e210d2","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":640,"wires":[["eef87007.8f07f8"]]},{"id":"c938e3b9.1f1a2","type":"switch","z":"1d812df.7e210d2","name":"AirQualityCommandFilter","property":"payload.OGtopic","propertyType":"msg","rules":[{"t":"cont","v":"airQuality","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":760,"wires":[["4d452c38.b2b5e4"]]},{"id":"4d452c38.b2b5e4","type":"function","z":"1d812df.7e210d2","name":"FindBy_id","func":"var roomNumber = parseInt(msg.payload.OGtopic.slice(-1));\nmsg.airQuality = parseInt(msg.payload.OGpayload);\nmsg.payload = {\"_id\" : roomNumber};\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":760,"wires":[["a84f3054.fec82"]]},{"id":"a84f3054.fec82","type":"mongodb-node","z":"1d812df.7e210d2","mongodb":"4c0042a5.eb8d5c","name":"FindStatus","collection":"lights","operation":"find","upsert":false,"multi":false,"x":1030,"y":760,"wires":[["fd5042a5.2bfbe8"]]},{"id":"fd5042a5.2bfbe8","type":"function","z":"1d812df.7e210d2","name":"SetAutoValue","func":"// var defaultPower = 30; // 0 - 100.\nvar setPoint;\nvar kp = msg.payload[0].kp;\n\nif (msg.payload[0].isItOn === false) {\n    setPoint = msg.payload[0].setPointOff;\n} else {\n    setPoint = msg.payload[0].setPointOn;\n    \n}\n\nvar power = kp*(setPoint - msg.airQuality);\nif (power < 0) {power = 0;}\nif (power > 100) {power = 100;}\n\nvar dict = { \"_id\" : msg.payload[0]._id ,\n             \"isItOn\" : msg.payload[0].isItOn,\n             \"airQuality\" : msg.airQuality,\n             \"power\" : power};\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":760,"wires":[["d704a482.00a338"]]},{"id":"20d42eea.e9354a","type":"ui_slider","z":"1d812df.7e210d2","name":"","label":"Huone käytössä","tooltip":"","group":"d00bc4c5.5ae9d8","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setPointOn","min":0,"max":"100","step":1,"x":420,"y":400,"wires":[["917364da.01cdd8"]]},{"id":"917364da.01cdd8","type":"function","z":"1d812df.7e210d2","name":"UpdateMongoDB","func":"var newSetPoint = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"setPointOn\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"setPointOn\" : newSetPoint\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["de3940d2.da3698"]]},{"id":"de3940d2.da3698","type":"mongodb out","z":"1d812df.7e210d2","mongodb":"cd8ff33d.eadf4","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":true,"operation":"update","x":1010,"y":360,"wires":[]},{"id":"da57281b.da8a1","type":"ui_slider","z":"1d812df.7e210d2","name":"","label":"Huone ei käytössä","tooltip":"","group":"d00bc4c5.5ae9d8","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setPointOff","min":0,"max":"100","step":1,"x":430,"y":360,"wires":[["85f47905.b7a808"]]},{"id":"85f47905.b7a808","type":"function","z":"1d812df.7e210d2","name":"UpdateMongoDB","func":"var newSetPoint = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"setPointOff\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"setPointOff\" : newSetPoint\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":710,"y":360,"wires":[["de3940d2.da3698"]]},{"id":"79f84238.bbb03c","type":"ui_slider","z":"1d812df.7e210d2","name":"","label":"P-vahvistus","tooltip":"","group":"9ad57820.30e03","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"kp","min":0,"max":"10","step":1,"x":410,"y":320,"wires":[["74afea38.27aa44"]]},{"id":"74afea38.27aa44","type":"function","z":"1d812df.7e210d2","name":"UpdateMongoDB","func":"var newkp = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"kp\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"kp\" : newkp\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["de3940d2.da3698"]]},{"id":"d704a482.00a338","type":"function","z":"1d812df.7e210d2","name":"","func":"return msg;","outputs":1,"noerr":0,"x":1410,"y":700,"wires":[["9131c87b.63a838","e05c2433.38a0b8","ae7971a8.3628e","1b8aa9c0.a877b6","5217d2c2.a1467c","51e34c41.ef427c","87ceb14b.c65a78","55ce2fbd.9e701","3d921143.5d9bce"]]},{"id":"bbdea809.9f4a18","type":"ui_button","z":"1d812df.7e210d2","name":"","group":"6cde6e5c.be15d8","order":5,"width":0,"height":0,"passthru":false,"label":"Emergency Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"power","x":430,"y":500,"wires":[["6ef4e599.4150b4","b01d4d71.0975b"]]},{"id":"6ef4e599.4150b4","type":"function","z":"1d812df.7e210d2","name":"Choose all rooms","func":"msg.payload._id = 0;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["dbbc55a1.004088"]]},{"id":"b01d4d71.0975b","type":"function","z":"1d812df.7e210d2","name":"Powers to 0","func":"msg.payload.power = 0;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["bd8f3a47.fcfd2"]]},{"id":"55ce2fbd.9e701","type":"switch","z":"1d812df.7e210d2","name":"FilterByRoomsAll","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1670,"y":460,"wires":[["21474fd2.d755e","2f14e7d1.7b93c","e453365e.f7e52","99ea7568.864c08","6e70f43.568510c"]]},{"id":"5db71309.b2e494","type":"ui_text_input","z":"1d812df.7e210d2","name":"","label":"Password","tooltip":"","group":"217fcbed.39152c","order":1,"width":3,"height":1,"passthru":true,"mode":"password","delay":"0","topic":"","x":440,"y":1720,"wires":[["124a067e.a39f42"]]},{"id":"e719a468.393658","type":"change","z":"1d812df.7e210d2","name":"D-PPW-E","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2040,"wires":[["5db71309.b2e494","68f1ddbc.82b1dc"]]},{"id":"124a067e.a39f42","type":"switch","z":"1d812df.7e210d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1720,"wires":[["e5ce47e.1321638"],["bcd6e0d0.846de8"]]},{"id":"e5ce47e.1321638","type":"change","z":"1d812df.7e210d2","name":"Correct PW","rules":[{"t":"set","p":"payload","pt":"msg","to":"PASSWORD CORRECT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1740,"wires":[["caa7c511.67ba3","b5727d9b.53461","f0cc783d.db4ae8"]]},{"id":"bcd6e0d0.846de8","type":"change","z":"1d812df.7e210d2","name":"Incorrect PW","rules":[{"t":"set","p":"payload","pt":"msg","to":"INVALID PASSWORD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1780,"wires":[["f7bc8232.56564","e719a468.393658"]]},{"id":"f0cc783d.db4ae8","type":"change","z":"1d812df.7e210d2","name":"output payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1700,"wires":[[]]},{"id":"caa7c511.67ba3","type":"template","z":"1d812df.7e210d2","name":"cng font color","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<font color=\"green\">{{payload}}</font-color>","x":1060,"y":1740,"wires":[["9532669b.484808"]]},{"id":"f7bc8232.56564","type":"template","z":"1d812df.7e210d2","name":"cng font color","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<font color=\"red\">{{payload}}</font-color>","x":1060,"y":1780,"wires":[["9532669b.484808"]]},{"id":"9532669b.484808","type":"ui_text","z":"1d812df.7e210d2","group":"217fcbed.39152c","order":2,"width":3,"height":1,"name":"chk password","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1580,"y":1720,"wires":[]},{"id":"b5727d9b.53461","type":"delay","z":"1d812df.7e210d2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":1660,"wires":[["4a01849f.c46f24","917842a3.ecf2c8","e719a468.393658"]]},{"id":"4a01849f.c46f24","type":"change","z":"1d812df.7e210d2","name":"new tab","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"UI\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1620,"wires":[["467d5226.24c3d4"]]},{"id":"2108cb43.b8377c","type":"ui_button","z":"1d812df.7e210d2","name":"","group":"217fcbed.39152c","order":3,"width":0,"height":0,"passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ENTER PASSWORD","payloadType":"str","topic":"","x":1120,"y":1940,"wires":[["e719a468.393658","9532669b.484808"]]},{"id":"467d5226.24c3d4","type":"ui_ui_control","z":"1d812df.7e210d2","name":"ui control","x":1600,"y":1660,"wires":[[]]},{"id":"81c2070f.be75c8","type":"ui_button","z":"1d812df.7e210d2","name":"","group":"6cde6e5c.be15d8","order":4,"width":0,"height":0,"passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"login\"}","payloadType":"json","topic":"","x":1160,"y":1540,"wires":[["b627ef1.f8cc49","d0c5bbdb.94fc08"]]},{"id":"35ec07ad.0b5fb8","type":"ui_chart","z":"1d812df.7e210d2","name":"HallwayGraph","group":"f88a60db.b5af48","order":5,"width":30,"height":7,"label":"Ilmanvaihdon teho: Käytävä","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Ei historiatietoja saatavilla","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffffff","#fff82a","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2240,"y":1280,"wires":[[]]},{"id":"83cd619d.d740a","type":"ui_chart","z":"1d812df.7e210d2","name":"Room4Graph","group":"f88a60db.b5af48","order":4,"width":30,"height":7,"label":"Ilmanvaihdon teho: Huone 4","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Ei historiatietoja saatavilla","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffffff","#8000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2240,"y":1200,"wires":[[]]},{"id":"70849980.47434","type":"ui_chart","z":"1d812df.7e210d2","name":"Room3Graph","group":"f88a60db.b5af48","order":3,"width":30,"height":7,"label":"Ilmanvaihdon teho: Huone 3","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Ei historiatietoja saatavilla","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffffff","#80ff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2240,"y":1120,"wires":[[]]},{"id":"414511e2.69dea","type":"ui_chart","z":"1d812df.7e210d2","name":"Room2Graph","group":"f88a60db.b5af48","order":2,"width":30,"height":7,"label":"Ilmanvaihdon teho: Huone 2","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Ei historiatietoja saatavilla","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffffff","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2240,"y":1040,"wires":[[]]},{"id":"9234cf1e.4a2448","type":"ui_chart","z":"1d812df.7e210d2","name":"Room1Graph","group":"f88a60db.b5af48","order":1,"width":30,"height":7,"label":"Ilmanvaihdon teho: Huone 1","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Ei historiatietoja saatavilla","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2240,"y":960,"wires":[[]],"inputLabels":["msg.payload.power"]},{"id":"3d921143.5d9bce","type":"function","z":"1d812df.7e210d2","name":"PowerUp","func":"msg.topic = \"power\"\nif(msg.payload._id === 1)\n{\n    msg.payload = msg.payload.power;\n    return [msg, null, null, null, null];\n}\n\nelse if(msg.payload._id === 2)\n{\n    msg.payload = msg.payload.power\n    return [null, msg, null, null, null];\n}\n\nelse if(msg.payload._id === 3)\n{\n    msg.payload = msg.payload.power\n    return [null, null, msg, null, null];\n}\n\nelse if(msg.payload._id === 4)\n{\n    msg.payload = msg.payload.power\n    return [null, null, null, msg, null];\n}\n\nelse if(msg.payload._id === 5)\n{\n    msg.payload = msg.payload.power\n    return [null, null, null, null, msg];\n}\n\nelse if(msg.payload._id === 0)\n{\n    msg.payload = msg.payload.power\n    return [msg, msg, msg, msg, msg];\n}","outputs":5,"noerr":0,"x":1680,"y":1100,"wires":[["1cad56ae.897669"],["7ed369d4.8da47"],["b6c5bfc.c5ab44"],["9a44ccef.b5443"],["8d373160.d81948"]]},{"id":"1cad56ae.897669","type":"change","z":"1d812df.7e210d2","name":"Remove_Id","rules":[{"t":"delete","p":"payload._id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":960,"wires":[["9234cf1e.4a2448"]]},{"id":"7ed369d4.8da47","type":"change","z":"1d812df.7e210d2","name":"Remove_Id","rules":[{"t":"delete","p":"payload._id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":1040,"wires":[["414511e2.69dea"]]},{"id":"b6c5bfc.c5ab44","type":"change","z":"1d812df.7e210d2","name":"Remove_Id","rules":[{"t":"delete","p":"payload._id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":1120,"wires":[["70849980.47434"]]},{"id":"9a44ccef.b5443","type":"change","z":"1d812df.7e210d2","name":"Remove_Id","rules":[{"t":"delete","p":"payload._id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":1200,"wires":[["83cd619d.d740a"]]},{"id":"8d373160.d81948","type":"change","z":"1d812df.7e210d2","name":"Remove_Id","rules":[{"t":"delete","p":"payload._id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":1280,"wires":[["35ec07ad.0b5fb8"]]},{"id":"917842a3.ecf2c8","type":"change","z":"1d812df.7e210d2","name":"showTabs","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"UI\",\"HistoryValues\",\"Asetukset\"],\"hide\":\"login\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1660,"wires":[["467d5226.24c3d4"]]},{"id":"b627ef1.f8cc49","type":"change","z":"1d812df.7e210d2","name":"hideTabs","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"UI\",\"HistoryValues\",\"Asetukset\"],\"show\":\"login\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1580,"wires":[["467d5226.24c3d4"]]},{"id":"d0c5bbdb.94fc08","type":"change","z":"1d812df.7e210d2","name":"new tab","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"login\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1540,"wires":[["467d5226.24c3d4"]]},{"id":"73778ea.97b04f","type":"change","z":"1d812df.7e210d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ENTER PASSWORD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":2120,"wires":[["9532669b.484808"]]},{"id":"68f1ddbc.82b1dc","type":"delay","z":"1d812df.7e210d2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":2120,"wires":[["73778ea.97b04f"]]},{"id":"d216af6c.49fb","type":"comment","z":"1d812df.7e210d2","name":"login","info":"","x":830,"y":1520,"wires":[]},{"id":"6cde6e5c.be15d8","type":"ui_group","z":"","name":"Tehon säätö","tab":"e08da561.457cf8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4964ee71.331ec","type":"ui_group","z":"","name":"Mittarit","tab":"e08da561.457cf8","order":2,"disp":true,"width":"6","collapse":false},{"id":"fbc59df7.c6b188","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4b7f97a4.00ae08","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"4c0042a5.eb8d5c","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"d00bc4c5.5ae9d8","type":"ui_group","z":"","name":"Ilmanlaadun asetusarvot","tab":"6f64e616.f4d1c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd8ff33d.eadf4","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"9ad57820.30e03","type":"ui_group","z":"","name":"Säädön asetukset","tab":"6f64e616.f4d1c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"217fcbed.39152c","type":"ui_group","z":"","name":"Login","tab":"efdcd69a.0df9e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f88a60db.b5af48","type":"ui_group","z":"","name":"graphs","tab":"7d15ad92.3b3d4c","order":1,"disp":true,"width":30,"collapse":false},{"id":"e08da561.457cf8","type":"ui_tab","z":"","name":"UI","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"6f64e616.f4d1c8","type":"ui_tab","z":"","name":"Asetukset","icon":"dashboard","order":22,"disabled":false,"hidden":true},{"id":"efdcd69a.0df9e8","type":"ui_tab","z":"","name":"login","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7d15ad92.3b3d4c","type":"ui_tab","z":"","name":"HistoryValues","icon":"dashboard","order":3,"disabled":false,"hidden":true}]