ValoAutomatiikka+Manuaalisäätö.json
[{"id":"56bfcc38.bce624","type":"tab","label":"UI + Simu","disabled":false,"info":""},{"id":"9f2d2da1.fab99","type":"uibuilder","z":"56bfcc38.bce624","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":180,"y":600,"wires":[["5f3dee18.916bb"],[]]},{"id":"a537b502.773048","type":"debug","z":"56bfcc38.bce624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":620,"wires":[]},{"id":"ead795a1.af48a8","type":"switch","z":"56bfcc38.bce624","name":"LightCommandFilter","property":"payload.OGtopic","propertyType":"msg","rules":[{"t":"cont","v":"valot","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":440,"wires":[["e7e16305.6c4e9"]]},{"id":"96124bb4.4e8768","type":"ui_slider","z":"56bfcc38.bce624","name":"","label":"Ilmanvaihdon teho","tooltip":"","group":"5bfdab31.956cd4","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"power","min":0,"max":"100","step":1,"x":210,"y":380,"wires":[["b4c01cbe.a43f6"]]},{"id":"2217a9a.84e5b56","type":"ui_gauge","z":"56bfcc38.bce624","name":"","group":"5b5a1cac.d5a004","order":1,"width":0,"height":0,"gtype":"gage","title":"Huone 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":260,"wires":[]},{"id":"487792ab.e4d98c","type":"ui_dropdown","z":"56bfcc38.bce624","name":"","label":"Huone valinta","tooltip":"","place":"","group":"5bfdab31.956cd4","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Huone 1","value":1,"type":"num"},{"label":"Huone 2","value":2,"type":"num"},{"label":"Huone 3","value":3,"type":"num"},{"label":"Huone 4","value":4,"type":"num"},{"label":"Käytävä","value":5,"type":"num"},{"label":"Kaikki","value":6,"type":"num"}],"payload":"","topic":"_id","x":200,"y":340,"wires":[["b4c01cbe.a43f6"]]},{"id":"1a6c56a1.5acaf9","type":"ui_gauge","z":"56bfcc38.bce624","name":"","group":"5b5a1cac.d5a004","order":3,"width":0,"height":0,"gtype":"gage","title":"Huone 3","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":380,"wires":[]},{"id":"21c914e8.842aac","type":"ui_gauge","z":"56bfcc38.bce624","name":"","group":"5b5a1cac.d5a004","order":2,"width":0,"height":0,"gtype":"gage","title":"Huone 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":320,"wires":[]},{"id":"3cea780f.6164a8","type":"function","z":"56bfcc38.bce624","name":"SetAutoValue","func":"// var defaultPower = 30; // 0 - 100.\nvar isItOn = false;\nvar setPoint;\nvar kp = msg.payload[0].kp;\n\nif(msg.payload[0].isItOn === false){\n    isItOn = true;\n    setPoint = msg.payload[0].setPointOn;\n} else {\n    isItOn = false;\n    setPoint = msg.payload[0].setPointOff;\n    \n}\n\nvar power = kp*(setPoint - msg.payload[0].airQuality);\nif (power < 0) {power = 0;}\nif (power > 100) {power = 100;}\n\nvar dict = { \"_id\" : msg.payload[0]._id ,\n             \"isItOn\" : isItOn ,\n             \"power\" : power,\n             \"airQuality\" : msg.payload[0].airQuality};\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":440,"wires":[["ab19f5f.dc3c508"]]},{"id":"6a102eee.fc89","type":"switch","z":"56bfcc38.bce624","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":260,"wires":[["9a3626b6.ed6b58"]]},{"id":"16dc3281.35c1cd","type":"ui_gauge","z":"56bfcc38.bce624","name":"","group":"5b5a1cac.d5a004","order":5,"width":0,"height":0,"gtype":"gage","title":"Käytävä","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":500,"wires":[]},{"id":"2ce364a1.31a9ec","type":"ui_gauge","z":"56bfcc38.bce624","name":"","group":"5b5a1cac.d5a004","order":4,"width":0,"height":0,"gtype":"gage","title":"Huone 4","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":440,"wires":[]},{"id":"aef92329.ddd71","type":"switch","z":"56bfcc38.bce624","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":380,"wires":[["8634ff82.696d9"]]},{"id":"52b5a7a2.0c8c68","type":"switch","z":"56bfcc38.bce624","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":320,"wires":[["dcf52b2a.29b798"]]},{"id":"12b5e9de.df70d6","type":"switch","z":"56bfcc38.bce624","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":440,"wires":[["92309b92.509458"]]},{"id":"d3c07f27.ac623","type":"switch","z":"56bfcc38.bce624","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":500,"wires":[["f8d543d9.a9869"]]},{"id":"9a3626b6.ed6b58","type":"function","z":"56bfcc38.bce624","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":260,"wires":[["2217a9a.84e5b56"]]},{"id":"dcf52b2a.29b798","type":"function","z":"56bfcc38.bce624","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":320,"wires":[["21c914e8.842aac"]]},{"id":"8634ff82.696d9","type":"function","z":"56bfcc38.bce624","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":380,"wires":[["1a6c56a1.5acaf9"]]},{"id":"92309b92.509458","type":"function","z":"56bfcc38.bce624","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":440,"wires":[["2ce364a1.31a9ec"]]},{"id":"f8d543d9.a9869","type":"function","z":"56bfcc38.bce624","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":500,"wires":[["16dc3281.35c1cd"]]},{"id":"8f60cbcb.7aecc8","type":"mqtt in","z":"56bfcc38.bce624","name":"","topic":"ASE-2610/G2.3","qos":"2","datatype":"json","broker":"34c80a69.aab356","x":200,"y":440,"wires":[["ead795a1.af48a8","69da6553.1be23c"]]},{"id":"dba55b58.462c08","type":"mqtt out","z":"56bfcc38.bce624","name":"","topic":"ASE-2610/G2.3","qos":"","retain":"","broker":"34c80a69.aab356","x":620,"y":600,"wires":[]},{"id":"5f3dee18.916bb","type":"function","z":"56bfcc38.bce624","name":"PayloadConfig","func":"var dict = { \"OGtopic\" : msg.topic ,\n             \"OGpayload\" : msg.payload};\n                \nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["dba55b58.462c08"]]},{"id":"52d7b3ad.4bb1bc","type":"inject","z":"56bfcc38.bce624","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[[]]},{"id":"f09eabfa.f94298","type":"file in","z":"56bfcc38.bce624","name":"","filename":"C:\\Users\\Tuomas\\.node-red\\uibuilder\\uibuilder\\DatabaseFiles\\lights.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":530,"y":80,"wires":[["68633b94.ec8274"]]},{"id":"68633b94.ec8274","type":"json","z":"56bfcc38.bce624","name":"","property":"payload","action":"","pretty":false,"x":850,"y":80,"wires":[["50bb3b91.3d13f4"]]},{"id":"50bb3b91.3d13f4","type":"mongodb out","z":"56bfcc38.bce624","mongodb":"1de20dd.96258f2","name":"","collection":"lights","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1080,"y":80,"wires":[]},{"id":"80a43171.77b5e","type":"comment","z":"56bfcc38.bce624","name":"To add data to MongoDB","info":"","x":230,"y":40,"wires":[]},{"id":"163a1d8d.34c462","type":"comment","z":"56bfcc38.bce624","name":"Simulator","info":"","x":180,"y":560,"wires":[]},{"id":"73715bcc.6b0794","type":"mongodb-node","z":"56bfcc38.bce624","mongodb":"f4f54783.d1fa28","name":"FindStatus","collection":"lights","operation":"find","upsert":false,"multi":false,"x":810,"y":440,"wires":[["3cea780f.6164a8"]]},{"id":"e7e16305.6c4e9","type":"function","z":"56bfcc38.bce624","name":"FindBy_id","func":"var roomNumber = msg.payload.OGpayload;\nmsg.payload = {\"_id\" : roomNumber};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["73715bcc.6b0794"]]},{"id":"d1311a8b.719f48","type":"mongodb out","z":"56bfcc38.bce624","mongodb":"1de20dd.96258f2","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1790,"y":560,"wires":[]},{"id":"5dfc0ad6.fad3f4","type":"function","z":"56bfcc38.bce624","name":"UpdateMongoDB","func":"var _id = msg.payload._id;\nvar isItOn = msg.payload.isItOn;\nvar power = msg.payload.power;\nvar airQuality = msg.payload.airQuality;\n \nvar newMsg = {\n  'query': {\n    \"roomNumber\" : _id\n  },\n  'payload': { \n      $set: {\n          \"isItOn\" : isItOn,\n          \"power\" : power,\n          \"airQuality\" : airQuality,\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":1470,"y":560,"wires":[["d1311a8b.719f48"]]},{"id":"b6101c76.04849","type":"function","z":"56bfcc38.bce624","name":"SetManualValue","func":"var isItOn = false;\nvar power;\n\nif(msg.payload.power === 0){\n    isItOn = false;\n    power = 0;\n} else {\n    isItOn = true;\n    power = msg.payload.power;\n}\n\nvar dict = { \"_id\" : msg.payload._id ,\n             \"isItOn\" : isItOn ,\n             \"power\" : power };\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":380,"wires":[["ab19f5f.dc3c508"]]},{"id":"b4c01cbe.a43f6","type":"join","z":"56bfcc38.bce624","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":380,"wires":[["b6101c76.04849"]]},{"id":"69da6553.1be23c","type":"switch","z":"56bfcc38.bce624","name":"AirQualityCommandFilter","property":"payload.OGtopic","propertyType":"msg","rules":[{"t":"cont","v":"airQuality","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":480,"wires":[["cadb7a57.65e4d8"]]},{"id":"cadb7a57.65e4d8","type":"function","z":"56bfcc38.bce624","name":"FindBy_id","func":"var roomNumber = parseInt(msg.payload.OGtopic.slice(-1));\nmsg.airQuality = parseInt(msg.payload.OGpayload);\nmsg.payload = {\"_id\" : roomNumber};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["70e79587.bfe0ec"]]},{"id":"70e79587.bfe0ec","type":"mongodb-node","z":"56bfcc38.bce624","mongodb":"f4f54783.d1fa28","name":"FindStatus","collection":"lights","operation":"find","upsert":false,"multi":false,"x":810,"y":480,"wires":[["f3bbb093.1a48d"]]},{"id":"f3bbb093.1a48d","type":"function","z":"56bfcc38.bce624","name":"SetAutoValue","func":"// var defaultPower = 30; // 0 - 100.\nvar setPoint;\nvar kp = msg.payload[0].kp;\n\nif (msg.payload[0].isItOn === false) {\n    setPoint = msg.payload[0].setPointOff;\n} else {\n    setPoint = msg.payload[0].setPointOn;\n    \n}\n\nvar power = kp*(setPoint - msg.airQuality);\nif (power < 0) {power = 0;}\nif (power > 100) {power = 100;}\n\nvar dict = { \"_id\" : msg.payload[0]._id ,\n             \"isItOn\" : msg.payload[0].isItOn,\n             \"airQuality\" : msg.airQuality,\n             \"power\" : power};\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":480,"wires":[["ab19f5f.dc3c508"]]},{"id":"2803524b.33aaae","type":"ui_slider","z":"56bfcc38.bce624","name":"","label":"Huone käytössä","tooltip":"","group":"a2122712.0a6748","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setPointOn","min":0,"max":"100","step":1,"x":200,"y":260,"wires":[["eb39179a.c71858"]]},{"id":"eb39179a.c71858","type":"function","z":"56bfcc38.bce624","name":"UpdateMongoDB","func":"var newSetPoint = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"setPointOn\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"setPointOn\" : newSetPoint\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["bb4d24f1.32b3d8"]]},{"id":"bb4d24f1.32b3d8","type":"mongodb out","z":"56bfcc38.bce624","mongodb":"38e85aa5.102596","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":true,"operation":"update","x":790,"y":220,"wires":[]},{"id":"a22c4a3c.1e5ba8","type":"ui_slider","z":"56bfcc38.bce624","name":"","label":"Huone ei käytössä","tooltip":"","group":"a2122712.0a6748","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setPointOff","min":0,"max":"100","step":1,"x":210,"y":220,"wires":[["3b891701.ca11a8"]]},{"id":"3b891701.ca11a8","type":"function","z":"56bfcc38.bce624","name":"UpdateMongoDB","func":"var newSetPoint = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"setPointOff\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"setPointOff\" : newSetPoint\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["bb4d24f1.32b3d8"]]},{"id":"23a2ada.21dd052","type":"ui_slider","z":"56bfcc38.bce624","name":"","label":"P-vahvistus","tooltip":"","group":"a5707ce1.7b56d","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"kp","min":0,"max":"10","step":1,"x":190,"y":180,"wires":[["c74c9b18.72b398"]]},{"id":"c74c9b18.72b398","type":"function","z":"56bfcc38.bce624","name":"UpdateMongoDB","func":"var newkp = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"kp\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"kp\" : newkp\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["bb4d24f1.32b3d8"]]},{"id":"ab19f5f.dc3c508","type":"function","z":"56bfcc38.bce624","name":"","func":"return msg;","outputs":1,"noerr":0,"x":1210,"y":440,"wires":[["6a102eee.fc89","52b5a7a2.0c8c68","aef92329.ddd71","12b5e9de.df70d6","d3c07f27.ac623","5dfc0ad6.fad3f4","a537b502.773048"]]},{"id":"5bfdab31.956cd4","type":"ui_group","z":"","name":"Tehon säätö","tab":"bb14be9c.c4321","order":1,"disp":true,"width":6,"collapse":false},{"id":"5b5a1cac.d5a004","type":"ui_group","z":"","name":"Mittarit","tab":"bb14be9c.c4321","order":2,"disp":true,"width":"6","collapse":false},{"id":"34c80a69.aab356","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1de20dd.96258f2","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"f4f54783.d1fa28","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"a2122712.0a6748","type":"ui_group","z":"","name":"Ilmanlaadun asetusarvot","tab":"c6c01772.26b818","order":1,"disp":true,"width":"6","collapse":false},{"id":"38e85aa5.102596","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"a5707ce1.7b56d","type":"ui_group","z":"","name":"Säädön asetukset","tab":"c6c01772.26b818","order":2,"disp":true,"width":"6","collapse":false},{"id":"bb14be9c.c4321","type":"ui_tab","z":"","name":"UI","icon":"dashboard","order":22,"disabled":false,"hidden":false},{"id":"c6c01772.26b818","type":"ui_tab","z":"","name":"Asetukset","icon":"dashboard","order":22,"disabled":false,"hidden":false}]