ValoAutomatiikka+Manuaalisäätö.json
[{"id":"f7bd03e3.4f8a7","type":"uibuilder","z":"c5847653.499fc8","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":180,"y":720,"wires":[["a32bbc8f.7082b"],[]]},{"id":"669d8acf.24f8c4","type":"debug","z":"c5847653.499fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":740,"wires":[]},{"id":"4746f0c1.e0696","type":"switch","z":"c5847653.499fc8","name":"LightCommandFilter","property":"payload.OGtopic","propertyType":"msg","rules":[{"t":"cont","v":"valot","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":560,"wires":[["e8a6b722.abc158"]]},{"id":"82be9a08.06e6b8","type":"ui_slider","z":"c5847653.499fc8","name":"","label":"Ilmanvaihdon teho","tooltip":"","group":"4ec26ac2.b05504","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"power","min":0,"max":"100","step":1,"x":210,"y":500,"wires":[["71950d40.ea6e54"]]},{"id":"dfe9c1af.6b09b","type":"ui_gauge","z":"c5847653.499fc8","name":"","group":"1cc4e339.bedc1d","order":1,"width":0,"height":0,"gtype":"gage","title":"Huone 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":380,"wires":[]},{"id":"54f4259d.46436c","type":"ui_dropdown","z":"c5847653.499fc8","name":"","label":"Huone valinta","tooltip":"","place":"","group":"4ec26ac2.b05504","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Huone 1","value":1,"type":"num"},{"label":"Huone 2","value":2,"type":"num"},{"label":"Huone 3","value":3,"type":"num"},{"label":"Huone 4","value":4,"type":"num"},{"label":"Käytävä","value":5,"type":"num"},{"label":"Kaikki","value":0,"type":"num"}],"payload":"","topic":"_id","x":200,"y":460,"wires":[["71950d40.ea6e54"]]},{"id":"55e8f725.1b1b78","type":"ui_gauge","z":"c5847653.499fc8","name":"","group":"1cc4e339.bedc1d","order":3,"width":0,"height":0,"gtype":"gage","title":"Huone 3","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":500,"wires":[]},{"id":"c843a090.c20a6","type":"ui_gauge","z":"c5847653.499fc8","name":"","group":"1cc4e339.bedc1d","order":2,"width":0,"height":0,"gtype":"gage","title":"Huone 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":440,"wires":[]},{"id":"5f49c3b.661df3c","type":"function","z":"c5847653.499fc8","name":"SetAutoValue","func":"// var defaultPower = 30; // 0 - 100.\nvar isItOn = false;\nvar setPoint;\nvar kp = msg.payload[0].kp;\n\nif(msg.payload[0].isItOn === false){\n    isItOn = true;\n    setPoint = msg.payload[0].setPointOn;\n} else {\n    isItOn = false;\n    setPoint = msg.payload[0].setPointOff;\n    \n}\n\nvar power = kp*(setPoint - msg.payload[0].airQuality);\nif (power < 0) {power = 0;}\nif (power > 100) {power = 100;}\n\nvar dict = { \"_id\" : msg.payload[0]._id ,\n             \"isItOn\" : isItOn ,\n             \"power\" : power,\n             \"airQuality\" : msg.payload[0].airQuality};\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":560,"wires":[["d27502cd.39f7"]]},{"id":"170a30b.0fc9fcf","type":"switch","z":"c5847653.499fc8","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":380,"wires":[["b03a59fb.a42c98"]]},{"id":"e36ec1fe.830c9","type":"ui_gauge","z":"c5847653.499fc8","name":"","group":"1cc4e339.bedc1d","order":5,"width":0,"height":0,"gtype":"gage","title":"Käytävä","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":620,"wires":[]},{"id":"6749aea0.e2d17","type":"ui_gauge","z":"c5847653.499fc8","name":"","group":"1cc4e339.bedc1d","order":4,"width":0,"height":0,"gtype":"gage","title":"Huone 4","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":560,"wires":[]},{"id":"821ac2f2.b84ac","type":"switch","z":"c5847653.499fc8","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":500,"wires":[["6006cedf.3512d"]]},{"id":"d0a5b147.3bed9","type":"switch","z":"c5847653.499fc8","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":440,"wires":[["122c7970.6bfbe7"]]},{"id":"db02ed11.d8a31","type":"switch","z":"c5847653.499fc8","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":560,"wires":[["1298b86e.b0d188"]]},{"id":"b079e9a5.959bc8","type":"switch","z":"c5847653.499fc8","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":620,"wires":[["265dc71b.91da78"]]},{"id":"b03a59fb.a42c98","type":"function","z":"c5847653.499fc8","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":380,"wires":[["dfe9c1af.6b09b"]]},{"id":"122c7970.6bfbe7","type":"function","z":"c5847653.499fc8","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":440,"wires":[["c843a090.c20a6"]]},{"id":"6006cedf.3512d","type":"function","z":"c5847653.499fc8","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":500,"wires":[["55e8f725.1b1b78"]]},{"id":"1298b86e.b0d188","type":"function","z":"c5847653.499fc8","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":560,"wires":[["6749aea0.e2d17"]]},{"id":"265dc71b.91da78","type":"function","z":"c5847653.499fc8","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":620,"wires":[["e36ec1fe.830c9"]]},{"id":"6c64fa0e.e12414","type":"mqtt in","z":"c5847653.499fc8","name":"","topic":"ASE-2610/G2.3","qos":"2","datatype":"json","broker":"31471517.60fb2a","x":200,"y":560,"wires":[["4746f0c1.e0696","78612f28.8a8c6"]]},{"id":"73870ff9.2f239","type":"mqtt out","z":"c5847653.499fc8","name":"","topic":"ASE-2610/G2.3","qos":"","retain":"","broker":"31471517.60fb2a","x":620,"y":720,"wires":[]},{"id":"a32bbc8f.7082b","type":"function","z":"c5847653.499fc8","name":"PayloadConfig","func":"var dict = { \"OGtopic\" : msg.topic ,\n             \"OGpayload\" : msg.payload};\n                \nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":720,"wires":[["73870ff9.2f239"]]},{"id":"38f6f221.9b2dce","type":"inject","z":"c5847653.499fc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[[]]},{"id":"ddc1ddde.19eb8","type":"file in","z":"c5847653.499fc8","name":"","filename":"C:\\Users\\Tuomas\\.node-red\\uibuilder\\uibuilder\\DatabaseFiles\\lights.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":530,"y":80,"wires":[["95a0d0dc.918b9"]]},{"id":"95a0d0dc.918b9","type":"json","z":"c5847653.499fc8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":80,"wires":[["219e2d34.b224c2"]]},{"id":"219e2d34.b224c2","type":"mongodb out","z":"c5847653.499fc8","mongodb":"bdbf0775.3cf828","name":"","collection":"lights","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1080,"y":80,"wires":[]},{"id":"654f9771.f8f2e8","type":"comment","z":"c5847653.499fc8","name":"To add data to MongoDB","info":"","x":230,"y":40,"wires":[]},{"id":"a8ad2661.f44038","type":"comment","z":"c5847653.499fc8","name":"Simulator","info":"","x":180,"y":680,"wires":[]},{"id":"414cae77.0c8c5","type":"mongodb-node","z":"c5847653.499fc8","mongodb":"13290b9c.3b13a4","name":"FindStatus","collection":"lights","operation":"find","upsert":false,"multi":false,"x":810,"y":560,"wires":[["5f49c3b.661df3c"]]},{"id":"e8a6b722.abc158","type":"function","z":"c5847653.499fc8","name":"FindBy_id","func":"var roomNumber = msg.payload.OGpayload;\nmsg.payload = {\"_id\" : roomNumber};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["414cae77.0c8c5"]]},{"id":"dc5b2a71.1c5298","type":"mongodb out","z":"c5847653.499fc8","mongodb":"bdbf0775.3cf828","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1790,"y":680,"wires":[]},{"id":"aa7e48d3.874338","type":"function","z":"c5847653.499fc8","name":"UpdateMongoDB","func":"var _id = msg.payload._id;\nvar isItOn = msg.payload.isItOn;\nvar power = msg.payload.power;\nvar airQuality = msg.payload.airQuality;\n \nvar newMsg = {\n  'query': {\n    \"roomNumber\" : _id\n  },\n  'payload': { \n      $set: {\n          \"isItOn\" : isItOn,\n          \"power\" : power,\n          \"airQuality\" : airQuality,\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":1470,"y":680,"wires":[["dc5b2a71.1c5298"]]},{"id":"82dd0727.abf508","type":"function","z":"c5847653.499fc8","name":"SetManualValue","func":"var isItOn = false;\nvar power;\n\nif(msg.payload.power === 0){\n    isItOn = false;\n    power = 0;\n} else {\n    isItOn = true;\n    power = msg.payload.power;\n}\n\nvar dict = { \"_id\" : msg.payload._id ,\n             \"isItOn\" : isItOn ,\n             \"power\" : power };\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":500,"wires":[["d27502cd.39f7"]]},{"id":"71950d40.ea6e54","type":"join","z":"c5847653.499fc8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":500,"wires":[["82dd0727.abf508"]]},{"id":"78612f28.8a8c6","type":"switch","z":"c5847653.499fc8","name":"AirQualityCommandFilter","property":"payload.OGtopic","propertyType":"msg","rules":[{"t":"cont","v":"airQuality","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":600,"wires":[["62e5ccda.a354e4"]]},{"id":"62e5ccda.a354e4","type":"function","z":"c5847653.499fc8","name":"FindBy_id","func":"var roomNumber = parseInt(msg.payload.OGtopic.slice(-1));\nmsg.airQuality = parseInt(msg.payload.OGpayload);\nmsg.payload = {\"_id\" : roomNumber};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":600,"wires":[["7b3c0add.9e87f4"]]},{"id":"7b3c0add.9e87f4","type":"mongodb-node","z":"c5847653.499fc8","mongodb":"13290b9c.3b13a4","name":"FindStatus","collection":"lights","operation":"find","upsert":false,"multi":false,"x":810,"y":600,"wires":[["a71712ad.f32f8"]]},{"id":"a71712ad.f32f8","type":"function","z":"c5847653.499fc8","name":"SetAutoValue","func":"// var defaultPower = 30; // 0 - 100.\nvar setPoint;\nvar kp = msg.payload[0].kp;\n\nif (msg.payload[0].isItOn === false) {\n    setPoint = msg.payload[0].setPointOff;\n} else {\n    setPoint = msg.payload[0].setPointOn;\n    \n}\n\nvar power = kp*(setPoint - msg.airQuality);\nif (power < 0) {power = 0;}\nif (power > 100) {power = 100;}\n\nvar dict = { \"_id\" : msg.payload[0]._id ,\n             \"isItOn\" : msg.payload[0].isItOn,\n             \"airQuality\" : msg.airQuality,\n             \"power\" : power};\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":600,"wires":[["d27502cd.39f7"]]},{"id":"b986f0df.50a3a","type":"ui_slider","z":"c5847653.499fc8","name":"","label":"Huone käytössä","tooltip":"","group":"a2a3dcba.5723f","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setPointOn","min":0,"max":"100","step":1,"x":200,"y":260,"wires":[["e9398ba5.d8a708"]]},{"id":"e9398ba5.d8a708","type":"function","z":"c5847653.499fc8","name":"UpdateMongoDB","func":"var newSetPoint = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"setPointOn\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"setPointOn\" : newSetPoint\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["c1b7997b.938578"]]},{"id":"c1b7997b.938578","type":"mongodb out","z":"c5847653.499fc8","mongodb":"81e5a3f7.539e2","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":true,"operation":"update","x":790,"y":220,"wires":[]},{"id":"d4a6b63.61fa348","type":"ui_slider","z":"c5847653.499fc8","name":"","label":"Huone ei käytössä","tooltip":"","group":"a2a3dcba.5723f","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setPointOff","min":0,"max":"100","step":1,"x":210,"y":220,"wires":[["8ea3c136.fa5ff"]]},{"id":"8ea3c136.fa5ff","type":"function","z":"c5847653.499fc8","name":"UpdateMongoDB","func":"var newSetPoint = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"setPointOff\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"setPointOff\" : newSetPoint\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["c1b7997b.938578"]]},{"id":"f01fa7d0.d93698","type":"ui_slider","z":"c5847653.499fc8","name":"","label":"P-vahvistus","tooltip":"","group":"80faf402.7dfed8","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"kp","min":0,"max":"10","step":1,"x":190,"y":180,"wires":[["e9f41fe0.0a2bc"]]},{"id":"e9f41fe0.0a2bc","type":"function","z":"c5847653.499fc8","name":"UpdateMongoDB","func":"var newkp = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"kp\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"kp\" : newkp\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["c1b7997b.938578"]]},{"id":"d27502cd.39f7","type":"function","z":"c5847653.499fc8","name":"","func":"return msg;","outputs":1,"noerr":0,"x":1190,"y":560,"wires":[["170a30b.0fc9fcf","d0a5b147.3bed9","821ac2f2.b84ac","db02ed11.d8a31","b079e9a5.959bc8","aa7e48d3.874338","669d8acf.24f8c4","ea3c219.bcf67e"]]},{"id":"f9ac076d.b95348","type":"ui_slider","z":"c5847653.499fc8","name":"","label":"Oletusteho","tooltip":"","group":"9889869.5161c78","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"defaultPower","min":0,"max":"100","step":1,"x":190,"y":300,"wires":[["e8ce9541.42c8d8"]]},{"id":"a91cf29f.b7d94","type":"mongodb out","z":"c5847653.499fc8","mongodb":"892b2a6d.72fa18","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":true,"operation":"update","x":850,"y":300,"wires":[]},{"id":"e8ce9541.42c8d8","type":"function","z":"c5847653.499fc8","name":"UpdateMongoDB","func":"var newPower = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"defaultPower\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"defaultPower\" : newPower\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["a91cf29f.b7d94"]]},{"id":"94cb1dec.b613c","type":"ui_button","z":"c5847653.499fc8","name":"","group":"4ec26ac2.b05504","order":5,"width":0,"height":0,"passthru":false,"label":"Emergency Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"power","x":210,"y":360,"wires":[["681331f.95410d","7d9fdc07.9ccb04"]]},{"id":"681331f.95410d","type":"function","z":"c5847653.499fc8","name":"Choose all rooms","func":"msg.payload._id = 0;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["54f4259d.46436c"]]},{"id":"7d9fdc07.9ccb04","type":"function","z":"c5847653.499fc8","name":"Powers to 0","func":"msg.payload.power = 0;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["71950d40.ea6e54"]]},{"id":"ea3c219.bcf67e","type":"switch","z":"c5847653.499fc8","name":"FilterByRoomsAll","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":320,"wires":[["b03a59fb.a42c98","122c7970.6bfbe7","6006cedf.3512d","1298b86e.b0d188","265dc71b.91da78"]]},{"id":"4ec26ac2.b05504","type":"ui_group","z":"","name":"Tehon säätö","tab":"56cca5aa.92c59c","order":1,"disp":true,"width":6,"collapse":false},{"id":"1cc4e339.bedc1d","type":"ui_group","z":"","name":"Mittarit","tab":"56cca5aa.92c59c","order":2,"disp":true,"width":"6","collapse":false},{"id":"31471517.60fb2a","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bdbf0775.3cf828","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"13290b9c.3b13a4","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"a2a3dcba.5723f","type":"ui_group","z":"","name":"Ilmanlaadun asetusarvot","tab":"1a48e66.930cf1a","order":1,"disp":true,"width":"6","collapse":false},{"id":"81e5a3f7.539e2","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"80faf402.7dfed8","type":"ui_group","z":"","name":"Säädön asetukset","tab":"1a48e66.930cf1a","order":2,"disp":true,"width":"6","collapse":false},{"id":"9889869.5161c78","type":"ui_group","z":"","name":"Tehon säätö","tab":"e75439a4.2e2c28","order":1,"disp":true,"width":"6","collapse":false},{"id":"892b2a6d.72fa18","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"56cca5aa.92c59c","type":"ui_tab","z":"","name":"UI","icon":"dashboard","order":22,"disabled":false,"hidden":false},{"id":"1a48e66.930cf1a","type":"ui_tab","z":"","name":"Asetukset","icon":"dashboard","order":22,"disabled":false,"hidden":false},{"id":"e75439a4.2e2c28","type":"ui_tab","z":"","name":"UI","icon":"dashboard","order":22,"disabled":false,"hidden":false}]
