ValoAutomatiikka+Manuaalisäätö.json
[{"id":"82fe4ff.33485b","type":"tab","label":"UI + Simu","disabled":false,"info":""},{"id":"e6e86b8.3f5b898","type":"uibuilder","z":"82fe4ff.33485b","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":180,"y":600,"wires":[["a181a7ca.acf4c"],[]]},{"id":"e1962415.df1f1","type":"debug","z":"82fe4ff.33485b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":620,"wires":[]},{"id":"5039503f.83f028","type":"switch","z":"82fe4ff.33485b","name":"LightCommandFilter","property":"payload.OGtopic","propertyType":"msg","rules":[{"t":"cont","v":"valot","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":440,"wires":[["9976fcb8.3b9578"]]},{"id":"7893ca06.f01994","type":"ui_slider","z":"82fe4ff.33485b","name":"","label":"Ilmanvaihdon teho","tooltip":"","group":"1c0629f2.2b03be","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"power","min":0,"max":"100","step":1,"x":210,"y":380,"wires":[["e2072169.ccc748"]]},{"id":"45bbbc04.d6939c","type":"ui_gauge","z":"82fe4ff.33485b","name":"","group":"57f4f52b.8fbf9c","order":1,"width":0,"height":0,"gtype":"gage","title":"Huone 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":260,"wires":[]},{"id":"6903598d.945158","type":"ui_dropdown","z":"82fe4ff.33485b","name":"","label":"Huone valinta","tooltip":"","place":"","group":"1c0629f2.2b03be","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Huone 1","value":1,"type":"num"},{"label":"Huone 2","value":2,"type":"num"},{"label":"Huone 3","value":3,"type":"num"},{"label":"Huone 4","value":4,"type":"num"},{"label":"Käytävä","value":5,"type":"num"},{"label":"Kaikki","value":6,"type":"num"}],"payload":"","topic":"_id","x":200,"y":340,"wires":[["e2072169.ccc748"]]},{"id":"254caa32.c40c36","type":"ui_gauge","z":"82fe4ff.33485b","name":"","group":"57f4f52b.8fbf9c","order":3,"width":0,"height":0,"gtype":"gage","title":"Huone 3","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":380,"wires":[]},{"id":"fbc7fa25.58d9e8","type":"ui_gauge","z":"82fe4ff.33485b","name":"","group":"57f4f52b.8fbf9c","order":2,"width":0,"height":0,"gtype":"gage","title":"Huone 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":320,"wires":[]},{"id":"fe37cbdf.3fe288","type":"function","z":"82fe4ff.33485b","name":"SetAutoValue","func":"// var defaultPower = 30; // 0 - 100.\nvar isItOn = false;\nvar setPoint;\nvar kp = msg.payload[0].kp;\n\nif(msg.payload[0].isItOn === false){\n    isItOn = true;\n    setPoint = msg.payload[0].setPointOn;\n} else {\n    isItOn = false;\n    setPoint = msg.payload[0].setPointOff;\n    \n}\n\nvar power = kp*(setPoint - msg.payload[0].airQuality);\nif (power < 0) {power = 0;}\nif (power > 100) {power = 100;}\n\nvar dict = { \"_id\" : msg.payload[0]._id ,\n             \"isItOn\" : isItOn ,\n             \"power\" : power,\n             \"airQuality\" : msg.payload[0].airQuality};\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":440,"wires":[["bc6afd53.ea97c8"]]},{"id":"17a7f90f.3ff3df","type":"switch","z":"82fe4ff.33485b","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":260,"wires":[["d8e6893f.805a1"]]},{"id":"e86f98a1.ff27d8","type":"ui_gauge","z":"82fe4ff.33485b","name":"","group":"57f4f52b.8fbf9c","order":5,"width":0,"height":0,"gtype":"gage","title":"Käytävä","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":500,"wires":[]},{"id":"663ba4c0.537cd4","type":"ui_gauge","z":"82fe4ff.33485b","name":"","group":"57f4f52b.8fbf9c","order":4,"width":0,"height":0,"gtype":"gage","title":"Huone 4","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":440,"wires":[]},{"id":"2ae586b6.5aa332","type":"switch","z":"82fe4ff.33485b","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":380,"wires":[["ecc493e8.a5ced"]]},{"id":"a6498c3d.a3a548","type":"switch","z":"82fe4ff.33485b","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":320,"wires":[["255bad73.fa99ea"]]},{"id":"67dff73f.39cdb8","type":"switch","z":"82fe4ff.33485b","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":440,"wires":[["a24b6fc0.b6a8b"]]},{"id":"7069c699.de1d88","type":"switch","z":"82fe4ff.33485b","name":"FilterByRooms","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":500,"wires":[["a933d488.3a6f1"]]},{"id":"d8e6893f.805a1","type":"function","z":"82fe4ff.33485b","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":260,"wires":[["45bbbc04.d6939c"]]},{"id":"255bad73.fa99ea","type":"function","z":"82fe4ff.33485b","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":320,"wires":[["fbc7fa25.58d9e8"]]},{"id":"ecc493e8.a5ced","type":"function","z":"82fe4ff.33485b","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":380,"wires":[["254caa32.c40c36"]]},{"id":"a24b6fc0.b6a8b","type":"function","z":"82fe4ff.33485b","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":440,"wires":[["663ba4c0.537cd4"]]},{"id":"a933d488.3a6f1","type":"function","z":"82fe4ff.33485b","name":"ConfigurePayload","func":"msg.payload = msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":500,"wires":[["e86f98a1.ff27d8"]]},{"id":"e755140c.817ac8","type":"mqtt in","z":"82fe4ff.33485b","name":"","topic":"ASE-2610/G2.3","qos":"2","datatype":"json","broker":"22d848bd.4b232","x":200,"y":440,"wires":[["5039503f.83f028","4cce2447.a3619c"]]},{"id":"8f5c4bb3.aeb66","type":"mqtt out","z":"82fe4ff.33485b","name":"","topic":"ASE-2610/G2.3","qos":"","retain":"","broker":"22d848bd.4b232","x":620,"y":600,"wires":[]},{"id":"a181a7ca.acf4c","type":"function","z":"82fe4ff.33485b","name":"PayloadConfig","func":"var dict = { \"OGtopic\" : msg.topic ,\n             \"OGpayload\" : msg.payload};\n                \nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["8f5c4bb3.aeb66"]]},{"id":"719509bb.49dbd8","type":"inject","z":"82fe4ff.33485b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[[]]},{"id":"44931e1a.92274","type":"file in","z":"82fe4ff.33485b","name":"","filename":"C:\\Users\\Tuomas\\.node-red\\uibuilder\\uibuilder\\DatabaseFiles\\lights.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":530,"y":80,"wires":[["573a9fbe.261fc8"]]},{"id":"573a9fbe.261fc8","type":"json","z":"82fe4ff.33485b","name":"","property":"payload","action":"","pretty":false,"x":850,"y":80,"wires":[["be4a4a07.7655b8"]]},{"id":"be4a4a07.7655b8","type":"mongodb out","z":"82fe4ff.33485b","mongodb":"786fabae.278e74","name":"","collection":"lights","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1080,"y":80,"wires":[]},{"id":"88776009.83d3c8","type":"comment","z":"82fe4ff.33485b","name":"To add data to MongoDB","info":"","x":230,"y":40,"wires":[]},{"id":"c71895cd.4bd17","type":"comment","z":"82fe4ff.33485b","name":"Simulator","info":"","x":180,"y":560,"wires":[]},{"id":"4197b301.7db3c4","type":"mongodb-node","z":"82fe4ff.33485b","mongodb":"b79144a7.f58a98","name":"FindStatus","collection":"lights","operation":"find","upsert":false,"multi":false,"x":810,"y":440,"wires":[["fe37cbdf.3fe288"]]},{"id":"9976fcb8.3b9578","type":"function","z":"82fe4ff.33485b","name":"FindBy_id","func":"var roomNumber = msg.payload.OGpayload;\nmsg.payload = {\"_id\" : roomNumber};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["4197b301.7db3c4"]]},{"id":"d8486689.a55828","type":"mongodb out","z":"82fe4ff.33485b","mongodb":"786fabae.278e74","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1790,"y":560,"wires":[]},{"id":"a1a47a3b.1cd","type":"function","z":"82fe4ff.33485b","name":"UpdateMongoDB","func":"var _id = msg.payload._id;\nvar isItOn = msg.payload.isItOn;\nvar power = msg.payload.power;\nvar airQuality = msg.payload.airQuality;\n \nvar newMsg = {\n  'query': {\n    \"roomNumber\" : _id\n  },\n  'payload': { \n      $set: {\n          \"isItOn\" : isItOn,\n          \"power\" : power,\n          \"airQuality\" : airQuality,\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":1470,"y":560,"wires":[["d8486689.a55828"]]},{"id":"7d62511e.e66f48","type":"function","z":"82fe4ff.33485b","name":"SetManualValue","func":"var isItOn = false;\nvar power;\n\nif(msg.payload.power === 0){\n    isItOn = false;\n    power = 0;\n} else {\n    isItOn = true;\n    power = msg.payload.power;\n}\n\nvar dict = { \"_id\" : msg.payload._id ,\n             \"isItOn\" : isItOn ,\n             \"power\" : power };\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":380,"wires":[["bc6afd53.ea97c8"]]},{"id":"e2072169.ccc748","type":"join","z":"82fe4ff.33485b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":380,"wires":[["7d62511e.e66f48"]]},{"id":"4cce2447.a3619c","type":"switch","z":"82fe4ff.33485b","name":"AirQualityCommandFilter","property":"payload.OGtopic","propertyType":"msg","rules":[{"t":"cont","v":"airQuality","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":480,"wires":[["cde8825e.20f44"]]},{"id":"cde8825e.20f44","type":"function","z":"82fe4ff.33485b","name":"FindBy_id","func":"var roomNumber = parseInt(msg.payload.OGtopic.slice(-1));\nmsg.airQuality = parseInt(msg.payload.OGpayload);\nmsg.payload = {\"_id\" : roomNumber};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["cf30cc0e.d751d"]]},{"id":"cf30cc0e.d751d","type":"mongodb-node","z":"82fe4ff.33485b","mongodb":"b79144a7.f58a98","name":"FindStatus","collection":"lights","operation":"find","upsert":false,"multi":false,"x":810,"y":480,"wires":[["d22fa6b3.c38208"]]},{"id":"d22fa6b3.c38208","type":"function","z":"82fe4ff.33485b","name":"SetAutoValue","func":"// var defaultPower = 30; // 0 - 100.\nvar setPoint;\nvar kp = msg.payload[0].kp;\n\nif (msg.payload[0].isItOn === false) {\n    setPoint = msg.payload[0].setPointOff;\n} else {\n    setPoint = msg.payload[0].setPointOn;\n    \n}\n\nvar power = kp*(setPoint - msg.airQuality);\nif (power < 0) {power = 0;}\nif (power > 100) {power = 100;}\n\nvar dict = { \"_id\" : msg.payload[0]._id ,\n             \"isItOn\" : msg.payload[0].isItOn,\n             \"airQuality\" : msg.airQuality,\n             \"power\" : power};\nmsg.payload = dict\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":480,"wires":[["bc6afd53.ea97c8"]]},{"id":"80d45666.b02f68","type":"ui_slider","z":"82fe4ff.33485b","name":"","label":"Huone käytössä","tooltip":"","group":"2c0b7260.bc239e","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setPointOn","min":0,"max":"100","step":1,"x":200,"y":260,"wires":[["81a100d5.dcfe4"]]},{"id":"81a100d5.dcfe4","type":"function","z":"82fe4ff.33485b","name":"UpdateMongoDB","func":"var newSetPoint = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"setPointOn\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"setPointOn\" : newSetPoint\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["f63bde53.cb24d8"]]},{"id":"f63bde53.cb24d8","type":"mongodb out","z":"82fe4ff.33485b","mongodb":"63c2d67.9c41428","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":true,"operation":"update","x":790,"y":220,"wires":[]},{"id":"a61f9d9b.3342e8","type":"ui_slider","z":"82fe4ff.33485b","name":"","label":"Huone ei käytössä","tooltip":"","group":"2c0b7260.bc239e","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setPointOff","min":0,"max":"100","step":1,"x":210,"y":220,"wires":[["422871fe.722ba8"]]},{"id":"422871fe.722ba8","type":"function","z":"82fe4ff.33485b","name":"UpdateMongoDB","func":"var newSetPoint = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"setPointOff\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"setPointOff\" : newSetPoint\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["f63bde53.cb24d8"]]},{"id":"b3c787fe.a6fe78","type":"ui_slider","z":"82fe4ff.33485b","name":"","label":"P-vahvistus","tooltip":"","group":"bfe65ad.70bd1a8","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"kp","min":0,"max":"10","step":1,"x":190,"y":180,"wires":[["706c5303.5ff724"]]},{"id":"706c5303.5ff724","type":"function","z":"82fe4ff.33485b","name":"UpdateMongoDB","func":"var newkp = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"kp\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"kp\" : newkp\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["f63bde53.cb24d8"]]},{"id":"bc6afd53.ea97c8","type":"function","z":"82fe4ff.33485b","name":"","func":"return msg;","outputs":1,"noerr":0,"x":1210,"y":440,"wires":[["17a7f90f.3ff3df","a6498c3d.a3a548","2ae586b6.5aa332","67dff73f.39cdb8","7069c699.de1d88","a1a47a3b.1cd","e1962415.df1f1"]]},{"id":"c1dfbde0.0e0c58","type":"ui_slider","z":"82fe4ff.33485b","name":"","label":"Oletusteho","tooltip":"","group":"1505dada.3b9d75","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"defaultPower","min":0,"max":"100","step":1,"x":190,"y":300,"wires":[["7afb1f8e.e63ac"]]},{"id":"62b2ae4f.fdcb48","type":"mongodb out","z":"82fe4ff.33485b","mongodb":"d9c515d5.fc3c7","name":"UpdateDatabase","collection":"lights","payonly":false,"upsert":false,"multi":true,"operation":"update","x":850,"y":300,"wires":[]},{"id":"7afb1f8e.e63ac","type":"function","z":"82fe4ff.33485b","name":"UpdateMongoDB","func":"var newPower = msg.payload;\n \nvar newMsg = {\n  'query': {\n    \"defaultPower\" : { $exists: true }\n  },\n  'payload': { \n      $set: {\n          \"defaultPower\" : newPower\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["62b2ae4f.fdcb48"]]},{"id":"1c0629f2.2b03be","type":"ui_group","z":"","name":"Tehon säätö","tab":"cf8fdfa6.10e208","order":1,"disp":true,"width":6,"collapse":false},{"id":"57f4f52b.8fbf9c","type":"ui_group","z":"","name":"Mittarit","tab":"cf8fdfa6.10e208","order":2,"disp":true,"width":"6","collapse":false},{"id":"22d848bd.4b232","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"786fabae.278e74","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"b79144a7.f58a98","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"2c0b7260.bc239e","type":"ui_group","z":"","name":"Ilmanlaadun asetusarvot","tab":"cf47e2bb.637e48","order":1,"disp":true,"width":"6","collapse":false},{"id":"63c2d67.9c41428","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"bfe65ad.70bd1a8","type":"ui_group","z":"","name":"Säädön asetukset","tab":"cf47e2bb.637e48","order":2,"disp":true,"width":"6","collapse":false},{"id":"1505dada.3b9d75","type":"ui_group","z":"","name":"Tehon säätö","tab":"2679a11.35ca95e","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9c515d5.fc3c7","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ASE-2610","name":""},{"id":"cf8fdfa6.10e208","type":"ui_tab","z":"","name":"UI","icon":"dashboard","order":22,"disabled":false,"hidden":false},{"id":"cf47e2bb.637e48","type":"ui_tab","z":"","name":"Asetukset","icon":"dashboard","order":22,"disabled":false,"hidden":false},{"id":"2679a11.35ca95e","type":"ui_tab","z":"","name":"UI","icon":"dashboard","order":22,"disabled":false,"hidden":false}]